/* this file sets the styles for the popup page (when the extension is clicked). */
*{
  /* resets default margin and padding values to 0px for all elements for easier element spacing. */
  margin: 0px;
  padding: 0px;
  position: relative;
}
body{
  width: 250px;
  height: 400px;
  background-color: #2e2f38;
}
header{
  height: 50px;
  background-color: #505161;
  border-bottom: color(#24242660);
  box-shadow: 0px 3px 3px #000000;
}
h3, h2{
  color: #ffffffe7;
  padding-top: 3px;
  text-align: center;
  text-shadow: 2px 2px #0000008e;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}
.clickable{
  position: absolute;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
}
#screencapture-logo{
  position: absolute;
  bottom: 160px;
  right: 58px;
  height: 150px;
  width: 150px;
}
#screenshot-button{
  bottom: 75px;
  right: 25px;
  height: 50px;
  width: 200px;
  background-color: #bd2424;
  color: #ffffffe7;
}
#directory-button{
  height: 40px;
  width: 150px;
  bottom: 5px;
  left: 15px;
  background-color: #505161;
  color: #ffffffe7;
}
#github-link{
  bottom: 9px;
  right: 26px;
  width: 37px;
  height: 37px;
}